<h2 mat-dialog-title class="mat-title dialog-title">Переименование</h2>
<div mat-dialog-content class="mat-subheading-2 dialog-content">
  Введите новое название:
  <mat-form-field class="dialog-form">
    <input matInput [(ngModel)]="newName">
  </mat-form-field>
</div>
<div class="dialog-actions-container">
  <div class="dialog-actions">
    <button
      mat-stroked-button
      class="dialog-btn-outline"
      mat-dialog-close color="primary"
      [disabled]="isLoading"
    ><span class="text-uppercase">Отмена</span>
    </button>
    <button
      mat-flat-button
      color="primary"
      class="dialog-ok"
      (click)="onRenameClick()"
      [disabled]="isLoading || newName === '' || newName === data.name"
      [ngStyle]="{'visibility':isLoading && 'hidden'}"
    ><span class="text-uppercase">Ок</span>
    </button>
    <div class="dialog-action-spinner-container" *ngIf="isLoading">
      <mat-spinner diameter="36"></mat-spinner>
    </div>
  </div>
</div>
