.apps-list-container {
  margin: 0 135px;
  padding: 32px 0;

  mat-grid-list {
    mat-grid-tile {
      overflow: visible;
    }
  }
}

button.card-add-mini {
  position: fixed;
  bottom: 30px;
  right: 24px;
  opacity: 1;

  transition: .2s bottom, .2s opacity;


}

button.card-add-mini-hide {
  bottom: -70px;
  opacity: 0;
}

//.apps-list{
//  margin: 32px 135px 50px;
//}
