<!--Переделать на grid css-->

<div class="apps-list-container" id="appsListContainer">
  <mat-grid-list
    [cols]="cols"
    rowHeight="280px"
    gutterSize="32px"
    class="apps-list"
  >
    <mat-grid-tile *ngFor="let appData of trackedApps">
      <app-tracked-app-card
        [appData]="appData"
        (deleteCard)="deleteTrackedApp($event)"
        (renameCard)="renameTrackedCard($event)"
      ></app-tracked-app-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!isLoaded">
      <app-tracked-app-card [isSkeleton]="true"></app-tracked-app-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!isLoaded">
      <app-tracked-app-card [isSkeleton]="true"></app-tracked-app-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!isLoaded">
      <app-tracked-app-card [isSkeleton]="true"></app-tracked-app-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-tracked-app-card-add id="cardAdd" routerLink="/search"></app-tracked-app-card-add>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button mat-fab color="primary" [class.card-add-mini-hide]="!btnCardAddMiniIsVisible" class="card-add-mini"
        routerLink="/search">
  <mat-icon>add</mat-icon>
</button>
