<h2 mat-dialog-title class="mat-title dialog-title">Добавить вручную</h2>
<form [formGroup]="formNewApp" novalidate (ngSubmit)="onCreateNewApp()">
  <div mat-dialog-content class="mat-subheading-2 dialog-content">
    <mat-form-field class="dialog-form" appearance="outline">
      <mat-label>Название приложения</mat-label>
      <input matInput formControlName="appName" autocomplete="off" placeholder="Название приложения"
             name="appName">
      <mat-error>Название не может быть короче 3х символов</mat-error>
    </mat-form-field>
    <span class="dialog-content-text">
      Ссылки:
    </span>
    <mat-form-field class="dialog-form" appearance="outline">
      <mat-label>Страница в App Store</mat-label>
      <input matInput formControlName="linkAppStore" autocomplete="off" placeholder="Страница в App Store"
             name="linkAppStore">
      <mat-error>
        <span *ngIf="formNewApp.controls.linkAppStore.hasError('oneLinkRequired')">
          Нужно указать хотя бы одну ссылку
        </span>
        <span *ngIf="formNewApp.controls.linkAppStore.hasError('pattern')">
          Неверный формат ссылки
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="dialog-form" appearance="outline">
      <mat-label>Страница в Google Play</mat-label>
      <input matInput formControlName="linkGooglePlay" autocomplete="off" placeholder="Страница в Google Play"
             name="linkGooglePlay">
      <mat-error>Неверный формат ссылки</mat-error>
    </mat-form-field>
    <mat-form-field class="dialog-form" appearance="outline">
      <mat-label>Страница в App Gallery</mat-label>
      <input matInput formControlName="linkAppGallery" autocomplete="off" placeholder="Страница в App Gallery"
             name="linkAppGallery">
      <mat-error>Неверный формат ссылки</mat-error>
    </mat-form-field>
  </div>
  <div class="dialog-actions-container">
    <div class="dialog-actions">
      <button
        mat-stroked-button
        class="dialog-btn-outline"
        mat-dialog-close color="primary"
        [disabled]="isLoading"
      >
        <span class="text-uppercase">Отмена</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        class="dialog-ok"
        [ngStyle]="{'visibility': isLoading ? 'hidden' : 'visible'}"
      >
        <span class="text-uppercase">Отслеживать</span>
      </button>
      <div class="dialog-action-spinner-container" *ngIf="isLoading">
        <mat-spinner diameter="36"></mat-spinner>
      </div>
    </div>
  </div>
</form>

