h2.mat-title.dialog-title {
  margin-bottom: 20px;
}

.dialog-content {
  display: flex;
  flex-direction: column;

  .dialog-form:not(:first-child) {
    margin-bottom: 16px;
  }

  .dialog-form:first-child {
    margin-bottom: 10px;
  }

  .dialog-content-text {
    margin-bottom: 20px;
  }
}

.dialog-actions {
  position: relative;

  .dialog-ok {
    margin-left: 5px;
  }

  .dialog-action-spinner-container {
    position: absolute;
    right: 45px;
  }
}

