.app-card-add {
  box-sizing: border-box;
  width: 344px;
  height: 274px;
  cursor: pointer;
  box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);

    .content {
      .plus-icon {
        //transform: scale(6);
      }
    }
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .plus-icon {
      margin-top: 80px;
      color: rgba(0, 0, 0, 0.6);
      transform: scale(4);
      transition: .2s transform;
    }
  }
}
