<h2 mat-dialog-title class="mat-title dialog-title">Переименование</h2>
<form [formGroup]="formRename" (ngSubmit)="onRename()">
  <div mat-dialog-content class="mat-subheading-2 dialog-content">
<!--    Введите новое название:-->
    <mat-form-field class="dialog-form" appearance="outline">
      <mat-label>Название приложения</mat-label>
      <input matInput formControlName="newName" name="newName" autocomplete="off" placeholder="Введите название">
      <mat-error>Название не может быть короче 3х символов</mat-error>
    </mat-form-field>
  </div>
  <div class="dialog-actions-container">
    <div class="dialog-actions">
      <button
        type="button"
        mat-stroked-button
        class="dialog-btn-outline"
        mat-dialog-close color="primary"
        [disabled]="isLoading"
      ><span class="text-uppercase">Отмена</span>
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="dialog-ok"
        [ngStyle]="{'visibility':isLoading ? 'hidden' : 'visible'}"
      ><span class="text-uppercase">Ок</span>
      </button>
      <div class="dialog-action-spinner-container" *ngIf="isLoading">
        <mat-spinner diameter="36"></mat-spinner>
      </div>
    </div>
  </div>
</form>
