<mat-card class="app-card" *ngIf="isSkeleton">
  <div class="skeleton-container" *ngIf="isSkeleton">
    <app-skeleton-loader
      [Swidth]="100"
      [Sheight]="100"
      [circle]="false"
      [percent]="true"
    ></app-skeleton-loader>
  </div>

  <mat-card-header>
    <div mat-card-avatar class="app-card-header-image">
      <app-skeleton-loader
        *ngIf="isSkeleton"
        [Swidth]="100"
        [Sheight]="100"
        [circle]="true"
        [percent]="true"
      ></app-skeleton-loader>
    </div>
    <mat-card-title>
      <app-skeleton-loader
        *ngIf="isSkeleton"
        [Swidth]="90"
        [Sheight]="24"
      ></app-skeleton-loader>
    </mat-card-title>
    <mat-card-subtitle>
      <app-skeleton-loader
        *ngIf="isSkeleton"
        [Swidth]="160"
        [Sheight]="17"
      ></app-skeleton-loader>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="app-card" *ngIf="!isSkeleton">
  <img
       mat-card-image
       class="app-card-image"
       [src]="appData.imageSrc"
       alt="twitch screen"
       (click)="cardClicked()"
  >

  <mat-card-header>
    <div mat-card-avatar class="app-card-header-avatar">
      <img [src]="appData.avatarSrc" alt="twitch">
    </div>
    <mat-card-title>
      {{appData.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{appData.developer}}
    </mat-card-subtitle>

    <button
      mat-icon-button
      class="app-card-menu-btn"
      [matMenuTriggerFor]="menuAppCard"
      (menuOpened)="menuOpened()"
      (menuClosed)="menuClosed()"
      [color]="menuIsOpen && 'primary'"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuAppCard="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>text_fields</mat-icon>
        <span>Переименовать</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete_alt</mat-icon>
        <span>Удалить</span>
      </button>
    </mat-menu>
  </mat-card-header>
</mat-card>
