<mat-card class="app-card">
  <div class="skeleton-container" *ngIf="!isLoaded">
    <app-skeleton-loader
      [Swidth]="100"
      [Sheight]="100"
      [circle]="false"
      [percent]="true"
    ></app-skeleton-loader>
  </div>
  <img *ngIf="isLoaded"
       mat-card-image
       class="app-card-image"
       src="assets/twitch-screen.webp"
       alt="twitch screen"
       (click)="cardClicked()"
  >

  <mat-card-header>
    <div mat-card-avatar class="app-card-header-image">
      <app-skeleton-loader
        *ngIf="!isLoaded"
        [Swidth]="100"
        [Sheight]="100"
        [circle]="true"
        [percent]="true"
      ></app-skeleton-loader>
      <img *ngIf="isLoaded" src="assets/twitch.svg" alt="twitch">
    </div>
    <mat-card-title>
      <app-skeleton-loader
        *ngIf="!isLoaded"
        [Swidth]="90"
        [Sheight]="24"
      ></app-skeleton-loader>
      <span *ngIf="isLoaded">Twitch</span>
    </mat-card-title>
    <mat-card-subtitle>
      <app-skeleton-loader
        *ngIf="!isLoaded"
        [Swidth]="160"
        [Sheight]="17"
      ></app-skeleton-loader>
      <span *ngIf="isLoaded">Twitch Interactive, Inc.</span>
    </mat-card-subtitle>

    <button
      *ngIf="isLoaded"
      mat-icon-button
      class="app-card-menu-btn"
      [matMenuTriggerFor]="menuAppCard"
      (menuOpened)="menuOpened()"
      (menuClosed)="menuClosed()"
      [color]="menuIsOpen && 'primary'"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuAppCard="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>text_fields</mat-icon>
        <span>Переименовать</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete_alt</mat-icon>
        <span>Удалить</span>
      </button>
    </mat-menu>
  </mat-card-header>
</mat-card>
